@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.Logo__img {
  width: 6.5em;
}

.Logo__span {
  background: linear-gradient(
    180deg,
    var(--logo-text-color1),
    var(--logo-text-color2)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
}

@media screen and (min-width: 1025px) {
  .Logo {
    display: none;
  }
}
