@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.FormRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: "Montserrat", sans-serif;
  max-width: 30em;
}

.FormRegister__fieldset--company,
.FormRegister__fieldset--user {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.FormRegister__input {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 0.25em;
  width: 100%;
  padding: 0.5em 1em 0.5em 7em;
  font-family: "Montserrat", sans-serif;
}

.FormRegister__input::placeholder {
  color: var(--placeholder-color);
  font-size: 0.75em;
}

@media screen and (min-width: 1025px) {
  .FormRegister__input::placeholder {
    font-size: 1em;
  }
}

.FormRegister__input--phone {
  background-image: url("phone-icon.svg");
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 5em center;
}

.FormRegister__input--email {
  background-image: url("person-icon.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 5em center;
}

.FormRegister__input--password {
  background-image: url("key-icon.svg");
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: 5em center;
}

.FormRegister__div {
  background-color: var(--warning-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border-radius: 0.25em;
}

.FormRegister__img {
  width: 2.5em;
}

.FormRegister__p {
  font-size: 0.53em;
  color: var(--warning-text-color);
}

@media screen and (min-width: 1025px) {
  .FormRegister__p {
    font-size: 0.75em;
  }
}

.FormRegister__btn {
  background-color: var(--form-btn-color);
  border: none;
  border-radius: 0.25em;
  padding: 0.75em 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3.5em;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .FormRegister__btn {
    margin-top: 0;
    padding: 1em 3.5em;
    width: 100%;
  }
}

.FormRegister__btn--img {
  width: 1.5em;
}

.FormRegister__btn--span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--form-btn-text-color);
}

.error__msg {
  color: rgb(223, 16, 16);
  font-size: 0.75em;
}
