/*RESETS*/

:root {
  --bg-color-1: rgb(227, 213, 213);
  --bg-color-2: rgba(240, 240, 240, 1);
  --title-color: rgba(105, 106, 108, 1);
  --text-color: rgba(7, 7, 9, 1);
  --logo-text-color1: rgba(155, 202, 6, 1);
  --logo-text-color2: rgba(99, 200, 16, 1);
  --warning-bg-color: rgba(7, 7, 9, 1);
  --warning-text-color: rgba(255, 255, 255, 1);
  --input-bg-color: rgba(255, 255, 255, 1);
  --input-border-color: rgba(99, 200, 16, 1);
  --placeholder-color: rgba(192, 192, 192, 1);
  --form-btn-color: rgba(99, 200, 16, 1);
  --form-btn-text-color: rgba(255, 255, 255, 1);
  --logonav-bg-color: rgba(99, 200, 16, 1);
  --logonav-text-color: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
